- single_haiku = editable_haiku
.pretty_haiku{class: "haiku_#{single_haiku.id}", id: "haiku_#{single_haiku.id}"}

  .haiku=simple_format single_haiku.description
  .author  -  #{single_haiku.author}

  -haiku_url = single_haiku.persisted? ? "#{root_url}haiku/#{single_haiku.id}" : "#{root_url}"
  =link_to "Show", haiku_url
