.pretty_haiku{class: "haiku_#{single_haiku.id}", id: "haiku_#{single_haiku.id}"}
  .haiku=simple_format single_haiku.description
  .author  -  #{single_haiku.author}
  -haiku_url = haiku.persisted? ? "#{root_url}\#haiku_#{single_haiku.id}" : "#{root_url}"
  %a.twitter-share-button{"data-lang" => "en", "data-count" => "none", "data-text" => "#{twitter_description(single_haiku)} - #{single_haiku.author} ", "data-url" => "#{haiku_url}", "data-hashtags" => "haikuary", :href => "https://twitter.com/share"} Tweet
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  / -if single_haiku.file_path.present?
  /   %audio{ controls: "controls"}
  /     %source{ src: "/#{single_haiku.file_path}" }
  / -else
  /   .profile-block-haiku
  /     %p Alex can't read me,
  /     %p this poem must sit mutely;
  /     %p Blame speech synthesis
