!!!
%html{lang: "en"}
  %head
    %title Haiku d'etat
    %link{href: "/favicon.png", rel: "shortcut icon"}
    %meta{property: "og:title", content: "Haiku d'etat"}
    %meta{property: "og:site_name", content: "Haiku d'etat"}
    %meta{property: "og:url", content: "http://www.haikudetat.com"}
    %meta{content: "http://www.haikudetat.com/haiku200.png", property: "og:image"}
    %link{href: 'http://fonts.googleapis.com/css?family=Parisienne', rel:'stylesheet'}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
  %body
    = render 'layouts/header'
    .content
      = render 'layouts/errors' unless flash.nil?
      = yield

    .footer
      = javascript_include_tag "application"
      = yield :footer
