!!!
%html{lang: "en"}
  %head
    %title Haikuary
    %link{:href=>"favicon.png", :rel=> "shortcut icon"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
  %body
    = render 'layouts/header'
    .content
      = render 'layouts/errors' unless flash.nil?
      = yield

    .footer
      = javascript_include_tag "application"
      = yield :footer
