!!!
%html{lang: "en"}
  %head
    %title Haiku d'etat
    = favicon_link_tag
    = favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
    %meta{property: "description", content: "Haiku for fun, haiku for profit, haiku with friends"}
    %meta{property: "og:title", content: "Haiku d'etat"}
    %meta{property: "og:site_name", content: "Haiku d'etat"}
    %meta{property: "og:url", content: "http://www.haikudetat.com"}
    %meta{content: "http://www.haikudetat.com/haiku200.png", property: "og:image"}
    %link{href: 'http://fonts.googleapis.com/css?family=Parisienne', rel:'stylesheet'}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0; user-scalable=no", name: "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
  %body
    = render 'layouts/header'
    .content
      = render 'layouts/errors' unless flash.nil?
      = yield

    .footer
      = javascript_include_tag "application"
      = yield :footer
