!!!
%html{lang: "en"}
  %head
    %title Haikuary
    %link{href: "/favicon.png", rel: "shortcut icon"}
    %meta{property: "og:title", content: "Haikuary"}
    %meta{property: "og:site_name", content: "Haikuary"}
    %meta{property: "og:url", content: "http://haikuary.herokuapp.com"}
    %meta{content: "http://haikuary.herokuapp.com/haiku200.png", property: "og:image"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
  %body
    = render 'layouts/header'
    .content
      = render 'layouts/errors' unless flash.nil?
      = yield

    .footer
      = javascript_include_tag "application"
      = yield :footer
